@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 10, scss/nav.scss */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #E5E5E5;
  height: 160px; }

/* line 19, scss/nav.scss */
#para {
  font-size: 1.4rem; }

/* line 22, scss/nav.scss */
#hmbMenu {
  padding: 5px;
  margin: 15px; }

/* line 26, scss/nav.scss */
#menu-toggle {
  display: none; }

/* line 30, scss/nav.scss */
ul {
  list-style: none; }

/* line 34, scss/nav.scss */
#navList {
  position: fixed;
  right: 0px;
  top: 80px;
  display: none; }
  /* line 35, scss/nav.scss */
  #navList a {
    text-decoration: none;
    color: #DFDCDC; }
  /* line 42, scss/nav.scss */
  #navList li {
    padding: 15px 35px 15px 35px;
    border: 1px solid #E5E5E5;
    background: rgba(80, 80, 80, 0.85); }
  /* line 48, scss/nav.scss */
  #navList li:hover {
    background: rgba(65, 232, 0, 0.95);
    color: black; }

/* line 56, scss/nav.scss */
#menu-toggle:checked + #navList {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  background: rgba(110, 110, 110, 0.7); }

/* line 63, scss/nav.scss */
#hmbMenu:hover {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px; }

/************End Of Nav.css***************/
